{% extends 'dashboard.html' %}

{% block 'category_list' %}
    <div class="row">
    {% for category in object_list %}
            <div class="col-3">
                <h4>{{ category.name }}</h4>
                {% for task in tasks %}
                    {% if task.category.id == category.id %}
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ task.name }}</h5>
                                <p class="card-text">{{ task.state.name }}</p>
                                <a class="btn btn-outline-primary" href="/task/{{ task.id }}/">Editar</a>
                                <a class="btn btn-outline-danger" href="/task/delete/{{ task.id }}/">Borrar</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
    {% empty %}
        No hay categorías cargadas aún.
    {% endfor %}
    </div>
{% endblock %}
